.container {
    margin: 10px;
  }
  
  .item {
    border-radius: .2em;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 2em;
    padding: 4em 1em;
    text-transform: uppercase;
    height: 700px;
  }
  
 
  .item-4 {
    background-color: #e9e4d7;
  }
  
  .item-5 {
    background-color: #9fd3c3;
  }