<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center">

  <div [ngStyle]="{'background-color':  communication.currentUser}" class="item item-5" fxFlex="400px">
    <button mat-raised-button color="warn" *ngIf="!communication.currentUser" (click)="goLive()">Go Live </button>

    <div *ngIf="communication.currentUser">
      <div>
         Login User Name {{ communication.currentUser}}
      </div>
    </div>

  </div>
  <div class="item item-4" fxFlex fxFlexOffset.xs="0">
    <div>
      online User list
      <mat-nav-list>
        <mat-list-item [ngStyle]="{'background-color':  item.userName}"
          *ngFor="let item of communication.liveUsersList$ | async">
          <a matLine href="..."> user name :- {{item.userName}}</a>
          <button mat-raised-button color="warn" (click)="shareWebcam(item)">
            share webcam
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>


    <div [hidden]="!patnerUserName">
      <h5  [ngStyle]="{'background-color': patnerUserName}" > Patner User Name {{patnerUserName}}</h5>
      <video #remoteUserVideoPlayer width="320" height="240" controls></video>
    </div>
  </div>
</div>